{{# partial "titulo" }}
    <title>GeSoc - Home</title>
{{/partial}}

{{# partial "barra" }}
     <a href="/login">Iniciar Sesion</a>
 {{/partial}}


{{# partial "contenido" }}	
    <section class="fondo-gris">
    
        <h2>Bienvenidos a Gesti&oacute;n de Proyectos Sociales [GeSoc]</h2>
        <p>
            Fundaci&oacute;n Proyecto Emprender (PROEM) es una organizaci&oacute;n sin fines de lucro fundada en el a&ntilde;o 2003.
			Su visi&oacute;n reside en contribuir a la obtenci&oacute;n del pleno empleo en la Rep&uacute;blica Argentina. En dicho sentido,
			su misi&oacute;n es acompa&ntilde;ar la preparaci&oacute;n laboral de las personas, promover el desarrollo y generaci&oacute;n de
			emprendimientos y fortalecer organizaciones productivas ya constituidas. 
        </p>
        
       

{{/partial}}

{{> layout.html.hbs }}